
body{
	background-color: #ffb3ff;
}

#container{
	margin: auto;
	width:50%;
 	border-radius: 19px;
}

h6{
	color: red;
	padding-top: 0;
	padding-bottom: 0;
}

h5{

	padding-top: 0;
}
#subcontainer{
	margin:auto;
	width:100%;
	 border-top: 5px solid Purple;
 	 padding: 10px;
 	 background-color: white;
	border-radius: 15px;
}

input[type=email] {
  border: none;
  border-bottom: 2px solid #cccccc;
  	width: 70%;
}

#subcontainer1{
	margin: auto;
	width:100%;
 	 padding: 10px;
 	  padding-bottom: 35px;
 	 background-color: white;
	border-radius: 15px;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid #cccccc;
  	width: 70%;
}

#subcontainer2{
	margin: auto;
	width:100%;
	
 	 padding: 10px;
 	  padding-bottom: 35px;
 	 background-color: white;
	border-radius: 15px;
}


#subcontainer3{
	margin: auto;
	width:100%;

 	 padding: 10px;
 	 background-color: white;
 	  padding-bottom: 35px;
	border-radius: 15px;
}

#subcontainer4{
	margin: auto;
	width:100%;
	
 	 padding: 10px;
 	  padding-bottom: 35px;
 	 background-color: white;
	border-radius: 15px;
}

input[type=number] {
  border: none;
  border-bottom: 2px solid #cccccc;
  	width: 70%;
}

#subcontainer5{
	margin: auto;
	width:100%;
	
 	 padding: 10px;
 	 padding-bottom: 35px;
 	 background-color: white;
	border-radius: 15px;
}

#subcontainer6{
	margin: auto;
	width:100%;
	
 	 padding: 10px;
 	 background-color: white;
	border-radius: 15px;
}

input[type=date] {
  border: none;
  border-bottom: 2px solid #cccccc;
  	width: 70%;
}

#subcontainer7{
	margin: auto;
	width:100%;
	
 	 padding: 10px;
 	 background-color: white;
	border-radius: 15px;
}

#subcontainer8{
	margin: auto;
	width:100%;
	
 	 padding: 10px;
 	 background-color: white;
	border-radius: 15px;
}

#click{
	background-color: purple;
	padding: 10px;
	color: white;
	border-radius: 6px;


}
 #words{
 	color:#404040;
 	font-size: 12px;
 }

  #words2{
 	color:#404040;
 	font-size: 12px;
 text-align: center;
 }

 #words2 a{
 	color:#404040;
 }

h3.logo{
		color:#a6a6a6;
		text-align: center;
}